<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Local News</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<h2>New National Zoo security fencing that reduces pedestrian access is approved
</h2>
<p>The National Zoo said Wednesday that it received permission last week from the National Capital Planning Commission to proceed with a controversial plan to extend security fencing around its complex.

    The zoo, citing safety concerns, plans to reduce its pedestrian entrances from 13 to six and add 4,700 feet to its existing perimeter fence. Some of the new fencing would be strong enough to prevent vehicle “ramming,” the zoo has said.</p>
<div th:replace="base :: footer"></div>
</body>
</html>