<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Maryland Post</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<h2>World</h2>
Canada grounds Boeing 737 Max 8, leaving U.S. as last major user of plane
<h2>Local</h2>
New National Zoo security fencing that reduces pedestrian access is approved
<h2>Sports</h2>
The U.S. women’s soccer team is better than the men’s. That’ll help its case.
<div th:replace="base :: footer"></div>
</body>
</html>