<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sports</title>
</head>
<body>
<div th:replace="base :: navlinks"></div>
<h2>The U.S. women’s soccer team is better than the men’s. That’ll help its case.
</h2>
<p>The biggest battle for members of the U.S. women’s national soccer team this year may not be on the pitch during this summer’s World Cup, but in the courtroom. A federal lawsuit by 28 members of the team alleging gender discrimination by U.S. Soccer is the latest dispute over pay for the USWNT.

    And this time, the women stand a good chance to win because of their recent performance on the field — and how much better they’ve been than the men’s team.</p>
<div th:replace="base :: footer"></div>
</body>
</html>